@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


/* 全体のコンテナ */
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 24px;
    text-align: center;
    margin: 50px auto;
    width: 90%;
    max-width: 850px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* タイトル */
.title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1e40af;
    text-shadow: 0px 5px 10px rgba(30, 64, 175, 0.2);
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
    animation: fadeIn 1s ease-in-out;
    transform: skewX(-10deg); /* 文字を右に少し傾ける */
}

/* プロフィールのコンテナ */
.profileContainer {
    width: 100%;
    max-width: 750px;
}

/* プロフィールアイテム */
.profileItem {
    font-size: 1.6rem;
    font-weight: 600;
    color: #374151;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
}

/* プロフィールラベル */
.profileLabel {
    font-weight: 700;
    color: #1e40af;
}

/* 区切り線 */
.divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(30, 64, 175, 0.1), rgba(30, 64, 175, 1), rgba(30, 64, 175, 0.1));
    margin: 10px 0;
    border-radius: 2px;
}
