@import url('https://fonts.googleapis.com/css2?family=Rounded+M%2B+1c:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    padding: 0 50px 50px;
}

.title {
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    color: #af88f3;
    text-shadow: 0px 5px 10px rgba(30, 64, 175, 0.2);
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
    transform: skewX(-10deg); /* 文字を右に少し傾ける */
    animation: fadeIn 1s ease-in-out;
}

.profileContainer {
    display: flex;
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    gap: 30px; /* 画像とテキストの間隔 */
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
}

.profileImage {
    border-radius: 50%; /* 丸い画像にする */
    object-fit: cover; /* 画像が丸に収まるように調整 */
}

.profileTextContainer {
    display: flex;
    flex-direction: column; /* 名前とテキストを縦並び */
}

.name {
    font-size: 2.8rem;
    font-weight: 700;
    color: #374151;
    font-family: "Sawarabi Mincho", sans-serif;
}

.profileText {
    font-size: 1rem;
    margin-bottom: 24px;
    color: #666;
    max-width: 600px; /* テキストの横幅を制限して見やすく */
}

.interest {
    background-color: rgb(247, 241, 231);
    padding: 0 200px;
}

.interestImage {
    width: 100%;
    max-width: 600px; /* 画像の最大幅を指定 */
    height: auto; /* アスペクト比を保持 */
    border-radius: 15px; /* 角を丸くする */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* 高品質な影を追加 */
}

.interestTitle {
    font-family: 'M PLUS Rounded 1c', sans-serif; /* 丸みのあるおしゃれなフォントを指定 */
    font-size: 3rem;
    font-weight: 700; /* 軽めの太さ */
    color: #afafff;
    letter-spacing: 1.5px; /* 文字間隔を広げる */
    line-height: 1.2; /* 行間を広げて可読性を高める */
    padding-top: 90px;
}

.interestText {
    font-size: 20px;
    color: #374151;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.8;
    white-space: pre-wrap; /* 改行を反映させる */
    margin: 20px 0;
}

/* 学習中のスキルテキスト */
.skillTitle {
    margin-top: 70px;
    font-family: 'M PLUS Rounded 1c', sans-serif; /* 丸みのあるおしゃれなフォントを指定 */
    font-size: 3rem;
    font-weight: 700; /* 軽めの太さ */
    color: #fbb167;
    letter-spacing: 1.5px; /* 文字間隔を広げる */
    line-height: 1.2; /* 行間を広げて可読性を高める */
}

.skillText {
    font-size: 20px;
    color: #374151;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.8;
    white-space: pre-wrap; /* 改行を反映させる */
    margin: 20px 0;
    padding-bottom: 90px;
}

@media (max-width: 960px) {
    .profileContainer {
        flex-direction: column; /* 画面サイズが小さくなったら縦並びに変更 */
        align-items: center; /* 中央揃え */
    }

    .profileImage {
        width: 250px; /* 画像のサイズを調整 */
        height: 250px;
    }

    .name {
        font-size: 2.2rem; /* 名前の文字サイズを調整 */
    }

    .profileText {
        font-size: 1.1rem; /* テキストの文字サイズを調整 */
    }
}

@media (max-width: 768px) {
    .interest {
        padding: 0 50px;
    }
    .interestTitle {
        font-size: 2rem;
    }
    .interestText {
        font-size: 17px;
    }
    .skillTitle {
        font-size: 2rem;
    }
    .skillText {
        font-size: 17px;
    }
}
