.button {
    display: block;
    padding: 20px 40px;
    border-radius: 14px;
    width: 300px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: var(--color-text-unpainted);
}

.button:hover {
    opacity: 0.9;
}

@media  (max-width: 640px) {
    .button {
        padding: 16px 24px;
        width: 100%;
    }
}