/* 追加部分 */
.memberList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 初期状態は3列 */
  gap: 40px;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .memberList {
    grid-template-columns: 1fr; /* 1024px以下は2列 */
  }
}

.listItemContent {
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  height: 180px; /* 画像の高さを大きめに */
  margin-bottom: 20px; /* 画像とテキストの間にスペース */
  border-radius: 12px; /* 画像の角も丸く */
  overflow: hidden; /* 画像が枠をはみ出さないように */
  position: relative; /* 画像にオーバーレイや効果を追加するため */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像が枠内にきれいに収まる */
  border-radius: 14px; /* 角に丸みを追加（8pxの場合） */
}

.info {
  padding: 10px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.position {
  margin-bottom: 8px;
  font-size: 1rem;
}

.profile {
  font-size: 0.9rem;
  color: #555;
}

.empty {
  margin-top: 40px;
  font-size: 1.5rem;
  color: #777;
}

/* 追加部分 */
.memberList a {
  text-decoration: none; /* Linkコンポーネントのデフォルトの装飾を削除 */
}

.listItemContent:hover {
  background-color: #f0f0f0; /* ホバー時に少し明るくなる */
}

