@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');



.title {
    font-size: 4.5rem;
    font-family: 'Cinzel', serif;
    color: #1c1c1e;
    letter-spacing: 0.15em; /* 文字間隔をを広げる */
    text-align: center;
}

.text {
    text-align: center;
    color: #ef4343;
}