  /* フリップアップアニメーション */
  @keyframes flipUp {
    0% {
      transform: rotateX(90deg);
    }
    20% {
      transform: rotateX(0deg);
    }
    80% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(90deg);
    }
  }
  
  /* 各文字のスタイル */
  .body {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background: linear-gradient(145deg, #1a1a1a, #333);
    display: flex;
    flex-direction: column; /* 垂直方向に並べる */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
  }
  
  .container {
    width: 80%;
    text-align: center;
    perspective: 800px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(-10deg); /* 文字を右に少し傾ける */
  }
  
  /* 各文字のアニメーションスタイル */
  .span {
    display: inline-block;
    color: #ebebeb;
    font-size: 6rem;
    transform-origin: 50% 70%;
    transform: rotateX(90deg);
    animation: flipUp 10s infinite cubic-bezier(0.68, -0.55, 0.26, 1.55);
    letter-spacing: 0.1em;
  }
  
  /* 偶数番目のspan */
  .span:nth-child(2n) {
    color: #ffffff;
  }
  
  .subcontainer {
    width: 80%;
    text-align: center;
    perspective: 800px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 各文字のアニメーションスタイル */
  .subspan {
    display: inline-block;
    color: #ebebeb;
    font-size: 2rem;
    transform-origin: 50% 70%;
    transform: rotateX(90deg);
    animation: flipUp 10s infinite cubic-bezier(0.68, -0.55, 0.26, 1.55);
    letter-spacing: 0.1em;
  }
  
  /* 偶数番目のspan */
  .subspan:nth-child(2n) {
    color: #ffffff;
  }
  
  /* レスポンシブ対応 */
  @media (max-width: 768px) {
    .span {
      font-size: 4rem;
    }
  
    .subspan {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .span {
      font-size: 3.8rem;
    }
  
    .subspan {
      font-size: 1.5rem;
    }
  }
