/* 基本のカテゴリータグのスタイル */
.tag {
    background-color: var(--color-bg-sub);
    padding: 5px 9px;
    border-radius: 30px;
    outline: 1.2px solid #524c4c; /* 黒い太い線 */
    font-size: 0.8rem; /* 初期のフォントサイズ */
    background-color: #efefff;
    color: rgb(73, 73, 73);
}